
<header>

  <app-navigation></app-navigation>

  <div class="HeaderCoverDiv"></div>
    <div class="CoverText">
      <div class="container">
        <h1>CHAMPIONSHIP TREATMENT FOR ALL</h1>
      </div>
      <h4 class="">We offer medical solutions to athletes, high-profile performers, and corporations.</h4>
      <a type="button"  class="btnCover"  data-bs-toggle="modal" data-bs-target="#contactModal">CONTACT US</a>          
    </div>
      <a href="#brands">
      <img src="../../assets/Images/Down_Arrow_icon.png"class="d-block mx-auto" style="margin-top: -40px;" alt="coverSlika">
    </a>
  
</header>

<div class="fullHdversion">
  <div id="brands" style="margin-top: 58px;" >
    <div class="container">
        <div class="d-flex flex-wrap">            
          <div class="marginRight48"><img src="../../assets/Images/UFC_logo.png"></div>
          <div class="marginRight48"><img src="../../assets/Images/group-invert.png"></div>
          <div class="marginRight48 marginTop1" ><img src="../../assets/Images/PFL_logo.png"></div>
          <div class="marginRight47 marginTop8"><img src="../../assets/Images/Layer_3.png"></div>
          <div class="marginRight47"><img src="../../assets/Images/Golden_Boy_Promotions_logo.png"></div>
          <div class="marginRight50"><img src="../../assets/Images/Top_Rank_logo.png"></div>
          <div class="marginRight48 marginTop12"><img src="../../assets/Images/layer2.png"></div>
          <div class="marginRight48 marginTop"><img src="../../assets/Images/layer1.png"></div>
          <div class=""><img src="../../assets/Images/Miss_Universe_logo.png"></div>
          
          
          <div class="" style="margin-left: 23px; margin-top: 27px; margin-bottom: 16px;"><img src="../../assets/Images/PBR_logo.png"></div>
          <div class="" style="margin-left: 60px;margin-top: 27px;"><img src="../../assets/Images/layer1-1.png"></div>
          <div class="" style="margin-left: 58px;margin-top: 27px;"><img src="../../assets/Images/g2826.png"></div>
          <div class="" style="margin-left: 60px;margin-top: 27px;"><img src="../../assets/Images/img-academy-vector-logo.png"></div>
          <div class="" style="margin-left: 58px;margin-top: 27px;"><img src="../../assets/Images/Bishop_Gorman_logo.png"></div>
          <div class="" style="margin-left: 58px;margin-top: 27px;"><img src="../../assets/Images/Alexander_Dawson_logo.png"></div>
          <div class="" style="margin-left: 58px;margin-top: 27px;"><img src="../../assets/Images/layer1-2.png"></div>                                              
        </div>
    </div>
  </div>
</div>



<div class="restVersion">
<div id="brands" style="margin-top: 38px;" >
  <div class="container">
      <div class="d-flex  justify-content-center justify-content-xxl-between  align-items-center flex-wrap">            
        <div class="me-4 mb-3"><img src="../../assets/Images/UFC_logo.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/group-invert.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/PFL_logo.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/Layer_3.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/Golden_Boy_Promotions_logo.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/Top_Rank_logo.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/layer2.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/layer1.png"></div>
        <div class="mx-3 mb-3"><img src="../../assets/Images/Miss_Universe_logo.png"></div>
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/PBR_logo.png"></div>
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/layer1-1.png"></div>
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/g2826.png"></div>
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/img-academy-vector-logo.png"></div>
        
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/Alexander_Dawson_logo.png"></div>
        <div class="mx-3 mb-3 paddingTop13"><img src="../../assets/Images/layer1-2.png"></div>                                              
      </div>
  </div>
</div>
</div>




<app-about-our-services></app-about-our-services>
<app-news-card></app-news-card>
<app-footer></app-footer>