
.CoverText {
    position: absolute;
    width:100%;    
    top: 630px;
    left: 50%;    
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: "acumin-pro-condensed";    
}
.CoverText h1 {    
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 15px;
    font-family: "acumin-pro-condensed";
}
.CoverText h4 {
    font-size: 24px;
    font-family: "acumin-pro-condensed";
    margin-top: -5px;
    font-weight: 900px !important;
    letter-spacing: 0.1px;
}
.btnCover{    
    font-family: "acumin-pro-condensed" !important;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.7px !important;
    background: #eb262a;    
    color: #FFFFFF;
    padding: 8px;
    padding-top: 10px;
    width: 116px;
    height: 40px;
    text-decoration: uppercase;
    text-decoration: none !important;    
    transition: 0.5s !important;
    margin-top: 22px;
   
}
.btnCover:hover{    
    background-color: #CE2023 !important;  
    color: #FFFFFF;
    transform: translateY(-3px) !important;
}

@media screen and (min-width: 1800px)  {
  
    .container{
        min-width: 1370px !important;
    }

    .CoverText {
        position: absolute;
        width:100%;    
        top: 630px;
        // left: 50%;   
        margin-left: -2px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: "acumin-pro-condensed";    
    }
    

    .paddingTop13{
        padding-top: 13px;
    }
 
    
    .fullHdversion{
        display: block !important;
    }

    .restVersion{
        display: none !important;
    }

    .HeaderCoverDiv{
        background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1)), url(../../assets/Images/coverSlika1.jpg); 
        height: 817px !important; 
        border-bottom: 2px solid #EB262A;
    }

    .marginRight48{
        margin-right: 48px;
    }
    .marginRight47{
        margin-right: 47px;
    }
    .marginRight50{
        margin-right: 50px;
    }
    .marginTop1{
        margin-top: -1px;
    }
    .marginTop8{
        margin-top: -8px;
    }
    .marginTop12{
        margin-top: -12px;
    }
    .marginTop3{
        margin-top: -3px;
    }
}

.HeaderCoverDiv{
    background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1)), url(../../assets/Images/coverSlika1.jpg); 
    height: 815px; 
    border-bottom: 2px solid #EB262A;
}

.fullHdversion{
    display: none;
}

.restVersion{
    display: block;
}



@media screen and (min-width: 360px) and (max-width: 410px)  {
    .CoverText {
        position: absolute;
        width:100%;    
        top: 300px;
        left: 50%;    
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
        font-family: "acumin-pro-condensed";    
    }
    .CoverText h1 {    
        font-size: 45px;
        font-weight: 800;
        line-height: 1;
        margin-bottom: 15px;
        font-family: "acumin-pro-condensed";
    }
    .CoverText h4 {
        font-size: 24px;
        font-family: "acumin-pro-condensed";
        margin-top: -5px;
        font-weight: 900px !important;
        letter-spacing: 0.1px;
    }

    .HeaderCoverDiv{
        background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1)), url(../../assets/Images/coverSlika1.jpg); background-size: cover !important; 
        height: 500px; 
        border-bottom: 2px solid #EB262A;
    }


}







// .BgCover{
//     background-image:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,1)), url(../../assets/Images/coverSlika1.jpg); 
//     height: 815px; 
//     border-bottom: 2px solid #EB262A;
// }


// .CoverText {
//     position: absolute;
//     width:100%;
//     top: 66%;        
//     left: 50%;
//     transform: translate(-50%, -50%);
//     text-align: center;
//     color: white;
//     font-family: "acumin-pro-condensed";    
// }
// .CoverText h1 {    
//     font-size: 60px;
//     font-weight: 800;
//     line-height: 1;
//     margin-bottom: 10px;
//     font-family: "acumin-pro-condensed";
// }

// .CoverText h4 {    
//     font-size: 24px;
//     font-family: "acumin-pro-condensed";
// }


// .btnCover{    
//     font-family: "acumin-pro-condensed" !important;
//     font-size: 14px;
//     letter-spacing: 0.7px;
//     background: #eb262a;
//     font-weight: normal !important;
//     color: #FFFFFF;
//     padding: 8px;
//     padding-top: 10px;
//     width: 116px;
//     height: 40px;
//     text-decoration: uppercase;
//     text-decoration: none !important;    
//     transition: 0.5s !important;
//     margin-top: 20px;
// }

// .btnCover:hover{    
//     background-color: #CE2023 !important;  
//     color: #FFFFFF;
//     transform: translateY(-3px) !important;
// }